<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <title>Document</title>
</head>

<body>

    <header>
        <nav class="navbar">
            <div class="logo nav-box"></div>
            <a href="home">
                <div class="home nav-box"><i class="fa-solid fa-house"></i>
                    <p>Home</p>
                </div>
            </a>
            <a href="/user/contactus">
                <div class="contact nav-box">Contact Us</div>
            </a>


            <!-- <div class="search-bar nav-box">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <input type="text" class="my-input" placeholder=" Search Here">

                <<div class="search-area">
                </div> --> 


            </div>

            <div class="nav-box-right">
           <% if(isLoggedIn){ %>

    <div class="nav-box-right">

        <div class="nav-box-name">

            Welcome<br>
             <%= user.name %>

        </div>

    </div>

    <a href="/user/logout">

        <div class="login nav-box">

            Logout

        </div>

    </a>

<% } else { %>

    <div class="nav-box-right">

        <a href="/user/signin" class="sign-in-a">

            <div class="sign-in nav-box">

                <i class="fa-solid fa-right-to-bracket"></i>

                Sign-In

            </div>

        </a>

    </div>

    <a href="/user/login">

        <div class="login nav-box">

            Login

        </div>

    </a>

<% } %>
            </div>

        </nav>
    </header>

    <main>

        <line width="10px" height="20px"></line>

        <div class="wheel-container">
            <div class="wheel" id="wheel">

                <a href="/games/1" class="item"><img src="/image/Rock-paper-scissor-logo.png"></a>
                <a href="/games/2" class="item"><img src="/image/tic-tac-toe-logo.png"></a>
                <a href="/games/3" class="item"><img src="/image/playmusic.png"></a>
                <a href="/games/4" class="item"></a>
                <a href="/games/5" class="item"><img src="/image/colelct-the-food-game-logo.png"></a>
                <a href="/games/6" class="item"><img src="/image/flip-the-card-logo.png"></a>

            </div>
            <a class="centerCir"><img src="/image/play.jpg"></a>
        </div>

        <!-- <button onclick="rotateWheel()">Rotate</button> -->

        <!-- <div class="m-type">
            <div class="type">
                <h1>Please Move The Mouse Curser</h1>
            </div>
        </div>


        <div class="load">Load more</div>
        <div class="img-load">
            <img src="https://picsum.photos/300">
            
        </div> -->

    </main>


    <footer>

    </footer>
    <script>
        const items = document.querySelectorAll(".item");
        const wheel = document.querySelector(".wheel");

        items.forEach((item) => {
            item.addEventListener("mouseenter", () => {
                wheel.style.animationPlayState = "paused";
            })

            item.addEventListener("mouseleave", () => {
                wheel.style.animationPlayState = "running"
            })
        })
    </script>
    <!-- <script src="/home.js"></script> -->
</body>

</html>