<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Login form</title>
</head>

<body>
    
    <div id="main-box">
        <h1>Sign in to My website</h1>
        <form action="/user/signin" method="post">
            <div class="box">
                <input type="text" placeholder="Enter your name" name="name">
         </div>
            
         <div class="box"> 
            <input type="email" placeholder="Enter your email" name="emailId">
             <i class="fa-solid fa-envelope fa-flip" style="color: white;"></i>
        </div>
           
        <div class="box">
            <input type="password" placeholder="Password" name="password">
            <i class="fa-solid fa-lock" style="color: white;"></i>
        </div>
            
            <button type="submit" id="signinBtn">Submit</button>
        </form>
    </div>
<div id="app"></div>

  <script type="module" src="main.js"></script>
</body>

</html>