* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.967);
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}


.navbar a {
    font-style: none;
    color: white;
    text-decoration: none;
}

.nav-box {
    border: 3px solid purple;
    border-radius: 7px;
    width: 120px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

.nav-box-name {
    border: 3px solid purple;
    border-radius: 7px;
    width: 200px;
    height: 60px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-weight: 400;
    padding: 5px;
    background: linear-gradient(90deg, rgba(74, 13, 105, 1) 0%, rgba(204, 39, 165, 1) 86%);
}


.nav-box-right {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: 10px;
}

.logo {
    background-image: url(/image/Screenshot\ 2025-12-28\ 161518.png);
    background-size: cover;
    height: 76%;
    width: 111px;
    border: none;
}

.sign-in {
    border-radius: 30px;
    width: 130px;
    background-color: black;
    color: white;
}

.login {
    border-radius: 30px;
    width: 130px;
    background-color: black;
    color: white;
}

.sign-in:hover {
    background: linear-gradient(90deg, rgba(74, 13, 105, 1) 0%, rgba(204, 39, 165, 1) 86%);
}

.login:hover {
    background: linear-gradient(90deg, rgba(74, 13, 105, 1) 0%, rgba(204, 39, 165, 1) 86%);
}

body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;

    text-align: center;

    background: linear-gradient(90deg,
            rgb(60, 7, 58) 30%,
            rgb(168, 38, 168) 100%);

    background-size: 200% 200%;

    animation: smoothFlow 3s linear infinite alternate;

    min-height: 100vh;
}

main {
    width: 100%;
    min-height: calc(100vh - 100px);

    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes smoothFlow {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}



span {
    display: inline-block;
    background: url(/image/favorite_16087297.png);
    width: 109px;
    height: 100px;
    background-size: contain;
    /* cover की जगह contain */
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 100px;
    left: 100px;
    pointer-events: none;
    padding: 10px;
    animation: heartanime 9s linear forwards;
}

@keyframes heartanime {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -5000%);
        opacity: 0;
    }
}

.m-type {
    width: 750px;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 1.5rem;
    margin: 0;
}

.type {
    color: white;
    border-right: 3px solid white;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 6s steps(30) infinite alternate,
        blink 0.7s infinite;
}

@keyframes typing {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.load {
    height: 40px;
    width: 100px;
    border: 2px solid white;
    color: white;
}

body {
    text-align: center;
}

.wheel-container {
    width: min(800px, 90vw);
    aspect-ratio: 1/1;

    margin: 130px auto;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    border: 10px solid white;

    position: relative;

    animation: rotateCir 10s linear infinite;
}

.item {
    position: absolute;

    width: 30%;
    height: 30%;

    border-radius: 50%;
    overflow: hidden;

    background: white;

    transform: translate(-50%, -50%);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.item:nth-child(1) {
    top: 0%;
    left: 50%;
}

.item:nth-child(2) {
    top: 25%;
    left: 93%;
}

.item:nth-child(3) {
    top: 75%;
    left: 93%;
}

.item:nth-child(4) {
    background-image: url(../image/whackamloe.png);
    background-color: wheat;
    background-size: cover;
    top: 100%;
    left: 50%;
}

.item:nth-child(5) {
    top: 75%;
    left: 7%;
}

.item:nth-child(6) {
    top: 25%;
    left: 7%;
}

.centerCir {
    position: absolute;

    width: 32%;
    height: 32%;

    border-radius: 50%;

    background: white;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    overflow: hidden;

    z-index: 97;

    padding: 2px;
}

.centerCir img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes rotateCir {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@media(max-width:800px) {

    .navbar {

        justify-content: space-evenly;
    }

    .nav-box {

        width: 95px;

        height: 42px;

        font-size: 14px;
    }

    .nav-box-name {

        width: 150px;

        font-size: 13px;
    }

    .wheel-container {

        width: 95vw;
    }

    .item {

        width: 28%;
        height: 28%;
    }

    .centerCir {

        width: 30%;
        height: 30%;
    }
}


@media (max-width:600px) {

    .wheel-container {
        width: 95vw;
    }

    .item {
        width: 28%;
        height: 28%;
    }

    .centerCir {
        width: 30%;
        height: 30%;
    }

    .nav-box {
        width: 80px;
        height: 35px;
        font-size: 12px;
    }
}

/* .hiddenBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.967);
    z-index: 100;
    position: relative;
    margin-left: auto;
    margin-right: 10px;
}

@media (max-width:530px) {

    .hiddenBox {
        display: flex;
    }

    .nav-box-right {
        display: none;
    }

    .nav-box-name {
        height: 50px;
    }
} */

.menuBtn{
    display:none;

    color:white;
    font-size:28px;

    margin-left:auto;
    margin-right:20px;

    cursor:pointer;
}

.hiddenBox{
    display:none;

    flex-direction:column;
    gap:10px;

    position:absolute;

    top:110px;
    right:15px;

    background:black;

    padding:15px;

    border-radius:15px;

    z-index:1000;

    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.hiddenBox.show{
    display:flex;
}

@media (max-width:530px){

    .menuBtn{
        display:block;
    }

    .nav-box-right{
        display:none;
    }
}